# Arquivos de bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# Ambientes virtuais
venv/
env/
ENV/

# Arquivos de backup originais do SillyTranslate
Original/
Originals/

# Arquivos de configuração local
config.json
settings.ini
translation_settings.json
translation_db.json

#Arquivos de teste
test*.py

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de IDE/editores
.idea/
.vscode/
*.swp
*.swo
Sem título.png
COMPARISON.png
2.png
